.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 60px;
  height: 50px;
}

.navbar.navbar-inverse {
  margin-bottom: 0px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
